<style>
  @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap');
  </style>
  
<div class="container">

    <header>
        <div class="name">
        <h1 class="name1">Mateus Moliterno</h1>
        </div>

    <nav>

      <ul class="menu">

        <a>Inicio</a>
        <a>Projetos</a>
        <a>Habilidades</a>
        <a>Contato</a>

      </ul>

    </nav>

    <div class="contacts">

        <img class="instagram" src="./.././../assets/instagram (2).png" alt="instagram">
        <img class="linkedin" src="./.././../assets/linkedin.png" alt="linedin">
        <img class="github" src="./.././../assets/github.png" alt="github">
        <img class="whatsapp" src="./.././../assets/whatsapp.png" alt="whatsapp">
        
    </div>

    </header>

    
    <div class="card-ola">

      <div class="Welcome">

        <h1 class="tittlewelcome">Bem vindo a meu mundo</h1>

          <div class="bemvindo">
            <h2>Meu nome e Mateus Moliterno</h2>
            <h3>Desenvolvedor front-end</h3>
          </div>

          <div class="btnbvd">
            <button class="btnwelcome">Fale comigo</button>
          </div>

      </div>

   

      <div class="image">

        <img src="./.././../assets/figura-consultoria-e-governanca-de-ti-scitis.png" alt="aaaaa">

      </div>

    </div>

    <div class="sobremim" appScrollAnimation>

      <div class="imgsobremim">

        <img class="imagesobremim" src="./.././../assets/440946443_2192457747761868_8705850840494452037_n.jpg" alt="">

      </div>

      <div class="textapresentation">
        <h1>Sobre Mim</h1>
        <p class="texto">
          Olá me chamo Mateus Moliterno sou formado em um curso técnico no SENAI e já participei de uma tutoria especializada na área de desenvolvimento. Com cerca de 2 anos de experiência em programação, me especializo em criar páginas e sistemas web responsivos, com layouts cativantes e funcionais.

          Tenho uma forte dedicação à área de JavaScript e busco constantemente aprimorar minhas habilidades, seja por meio de trabalhos freelances ou oportunidades de aprendizado. Minha abordagem de trabalho é pautada pela organização, comprometimento e foco na entrega de soluções de qualidade.
          
          Atualmente, estou em busca de novas oportunidades como desenvolvedor, em um futuro próximo, me vejo alcançando a posição de desenvolvedor sênior, contribuindo com minha experiência e aprendendo com novos desafios.
        </p>
      </div>

    </div>

</div>