<style>
  @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap');
  </style>
  
<div class="container">

    <header>
        <div class="name">
        <h1 class="name1">Mateus Moliterno</h1>
        </div>

    <nav>

      <ul class="menu">

        <a>Inicio</a>
        <a>Projetos</a>
        <a>Habilidades</a>
        <a>Contato</a>

      </ul>

    </nav>

    <div class="contacts">

        <img class="instagram" src="./.././../assets/instagram (2).png" alt="instagram">
        <img class="linkedin" src="./.././../assets/linkedin.png" alt="linedin">
        <img class="github" src="./.././../assets/github.png" alt="github">
        <img class="whatsapp" src="./.././../assets/whatsapp.png" alt="whatsapp">
        
    </div>

    </header>

    
    <div class="card-ola">

      <div class="Welcome">

        <h1 class="tittlewelcome">Bem vindo a meu mundo</h1>

          <div class="bemvindo">
            <h2>Meu nome e Mateus Moliterno</h2>
            <h3>Desenvolvedor front-end.</h3>
          </div>

          <div class="btnbvd">
            <button class="btnwelcome">Fale comigo</button>
          </div>

      </div>

   

      <div class="image">

        <img src="./.././../assets/figura-consultoria-e-governanca-de-ti-scitis.png" alt="aaaaa">

      </div>

    </div>

    <div class="sobremim" appScrollAnimation>

      <div class="imgsobremim">

        <img class="imagesobremim" src="./.././../assets/Developer activity (1).gif" alt="">

      </div>

      <div class="textapresentation">
        <h1>Sobre Mim</h1>
        <p class="texto">
          Olá, sou Mateus Moliterno,  formado pelo SENAI, <br> com 2 anos de experiência  em programação. <br> Foco em criar sistemas web responsivos e <br> funcionais, com dedicação ao aprendizado em <br> JavaScript. Busco oportunidades <br> como desenvolvedor e almejo crescer como <br> profissional, tornando-me sênior no futuro.
        </p>
        
      </div>

    </div>

</div>